.catalog {
  &__head {
    padding-bottom: 18px;
  }
}

.catalog-controls {
  padding-bottom: 9px;
}

@media (max-width: $mobile-width) {
  .catalog {
    &__head {
      padding-bottom: 30px;
    }
  }

}